<%- include ('partials/_header'); -%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <h2>Menu para Agregar Nuevos Datos</h2>
                        <div class="form-group">
                            <h6 class="text-info">Codigo Patrimonial</h6>
                            <input type="text" name="cp" value="" placeholder="Codigo Patrimonial" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6 class="text-info">Equipo</h6>
                            <input type="text" name="equipo" value="" placeholder="Equipo" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6 class="text-info">Marca</h6>
                            <input type="text" name="marca" value="" placeholder="Marca" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6 class="text-info">Modelo</h6>
                            <input type="text" name="modelo" value="" placeholder="Modelo" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6 class="text-info">Serie</h6>
                            <input type="text" name="serie" value="" placeholder="Serie" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <h6 class="text-info">Ubicacion</h6>
                            <input type="text" name="ubicacion" value="" placeholder="Ubicacion" class="form-control" required>
                        </div>
                        <!--el "boton" activa el "evento" del formulario para que envie los datos de los "input text" hacia el servidor-->
                        <button type="submit" class="btn btn-info">SAVE CUSTOMER</button>
                        <button class="btn btn-danger" onclick="history.back()">CANCEL</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/_footer'); -%>